Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      Engine: postgres
      DBName: bexocargo
      MasterUsername: bexocargo
      MasterUserPassword: PASSWORD_PLACEHOLDER
      DBInstanceClass: db.t3.micro
      AllocatedStorage: 5
      StorageType: gp2
      MultiAZ: false
      DBParameterGroupName: default.postgres12
      VPCSecurityGroups:
        - Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
      
option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: '`{"Fn::Join":["", ["postgresql://", {"Ref":"AWSEBRDSDatabase.MasterUsername"}, ":", {"Ref":"AWSEBRDSDatabase.MasterUserPassword"}, "@", {"Fn::GetAtt":["AWSEBRDSDatabase", "Endpoint.Address"]}, ":", {"Fn::GetAtt":["AWSEBRDSDatabase", "Endpoint.Port"]}, "/", {"Ref":"AWSEBRDSDatabase.DBName"}]]}`'
